{% extends 'base.html' %} {% load static %}

{% block title %} {{ recipe }} {% endblock %}
{% block content %}
    <article>
        <h1>{{ recipe }}</h1>
        <h2>Ingredients</h2>
        <ul>
            {% for ingredient_pair in recipe_ingredients%}
            <li> {{ ingredient_pair.ingredient.name }} : {{ ingredient_pair.quantity }} 
                    {{ingredient_pair.ingredient.unit }}
            </li>
            {% endfor %}
        </ul>
    </article>
    <a href='/recipes/list' >return to Recipe List</a>

{% endblock %}