{% extends 'base.html' %}

{% block title %} {{ recipe }} {% endblock %}
{% block header %}<h2>Detailed Recipe Ingredients</h2>{% endblock %}
{% block content %}
    <article>
        <h1>{{ recipe }}</h1>
        {% for recipe_image in recipe_images %}
            <img src="{{ recipe_image.image.url }}" alt="{{ recipe_image.description }}">
        {% endfor %}
        <h2>Author: {{ recipe.author }}</h2>
        <h2>Ingredients</h2>
        <ul>
            {% for ingredient_pair in recipe_ingredients%}
            <li> {{ ingredient_pair.ingredient.name }} : {{ ingredient_pair.quantity }} 
                    {{ ingredient_pair.ingredient.unit }}
            </li>
            {% endfor %}
        </ul>
    </article>
    <a href="{% url "recipe-list" %}" >return to Recipe List</a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">
            <span>Upload Image</span>
            <input type="file" name="image" id="image" accept="image/*">
        </label>
        <input type="submit" value="Submit">
    </form>
{% endblock %}